{% extends base %}

{% block postamble %}
  <style>
    {% include "material.indigo-blue.min.css" %}
    {% include "style.css" %}
  </style>
{% endblock %}

{% block contents %}
<div class="content" >
<div class="content-float" >

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="one-column-grid">
  <div class="grid-item">
{{ super() }}
  </div>
</div>

</div>
</div>

{% endblock %}
