/* Style for select-figure content */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

div.grid-item {
}

div.content {
    margin: 0 auto;
    /* display: inline-block; */
    display: block;
    width: 1200px;
    text-align: center;
}

div.content-float {
    position: relative;
    display: inline-block;
}

div.one-column-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* to offset the next grid */
  margin-block-end: 30px;
}

/* provenance links */
img.provenance-logo {
    width: 20px;
    height: auto;
}
